%h1 Fill the following form to add a new provider

%h2 Press Submit to see your addition applied

= form_tag providers_path do
  = label :provider, :company, 'Company'
  = text_field :provider, 'company'

  = label :provider, :status, 'Status'
  = select :provider, :status, @all_statuses

  = label :provider, :specialty, 'Specialty'
  - @all_specialties.each do |specialty|
    = specialty
    = check_box_tag specialty

  = submit_tag 'Submit'
